* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 0 auto;
}

body p {
    color: #6C6C6C;
    font-size: 16px;
}

/* ----------------------------------------------------------------
-----------------------Main Sections Style----------------------
---------------------------------------------------------------- */

.main-section {
    display: flex;
    justify-content: space-evenly;
    /* background: rgb(45, 37, 160); */
    /* height: 600px; */
    width: 100%;
    margin: 0 auto;
    align-items: center;
    line-height: 70px;
    margin-bottom: 70px;
}

main h1 {
    
    font-size: 50px;
    
    font-weight: 700;
    color: black;
}
 main p {
    
   
    line-height: 25px;
   font-weight: bolder;
    color: black;
} 

.btn {
    height: 44px;
    width: 168px;
    font-size: 16px;
    font-weight: 500;
    background: rgb(224, 44, 109);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.banner-img img {
    /* Width: 556.01px;
    Height: 456px; */
    width: 440px;
height: 414px;
}

/* ----------------------------------------------------------------
-----------------------Hover Transform Banner----------------------
---------------------------------------------------------------- */

/* .main-section:hover .banner-img {
    transform: scale(-1);
    transition: transform 2.5s ease-in-out;
} */

/* ----------------------------------------------------------------
-----------------------products Section Style----------------------
---------------------------------------------------------------- */

.products-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 27px;
    column-gap: 20px;
    background-color: rgb(255, 255, 255);
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.product {
    height: 456px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    box-shadow: 5px 5px 10px gray;
   
}

.product-img img {
    height: 256px;
    width: 300px;
}

.product-details {
     margin-top: 16px; 
    font-size: 12px;
}
.product-price{
    font-weight: 100px;
    color: black;
}
.product-rating{
    display: flex;
    color: orange;
    
}
.rating-point{
    margin-left: 5px;
    color: black;
}

.product-details p {
    margin-top: 5px;
}

/* ----------------------------------------------------------------
-----------------------Table Sections Style----------------------
---------------------------------------------------------------- */

.section-title {
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    color: orangered;
}

.table-section {
    width: 95%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.table-headline {
    color: white;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    border-radius: 7px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.match-details {
    background-image: url('images/table-bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
}

th, td {
    text-align: center;
    padding: 10px;
    margin: 5px;
    color: orangered;
    font-weight: 500;
}

tr:nth-child(even) {
    background-color: rgb(28, 28, 27);
}

.white {
    color: white;
}

/* ----------------------------------------------------------------
-----------------------Highlights Sections Style----------------------
---------------------------------------------------------------- */

.highLights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.highLights h1, .highlight-p {
    text-align: center;
}

/* ----------------------------------------------------------------
-----------------------Footer Sections Style----------------------
---------------------------------------------------------------- */

footer {
    width: 100%;
    margin: 158px 100px 0 100px0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: black;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}



.icon i {
    cursor: pointer;
    height: 32px;
    width: 32px;
    /* background-color: lightgray; */
    text-align: center;
    padding-top: 8px;
    border-radius: 50%;
}

footer p {
    font-size: 12px;
  margin-top: 5px;
    color: white;
}

/* ----------------------------------------------------------------
--------------------Media Query Style For Mobile-------------------
------------------------------------------------------------------- */

@media only screen and  (max-width: 688px) {
    .main-section {
            margin-left: 0;
            margin-right: 0;
            display: block;
            height: 1000px;
            padding: 5%;
    }
    .banner-img img {
            width: 90%;
    }
    .products-section {
            margin-left: 0;
            margin-right: 0;
            margin-left: 10%;
            grid-template-columns: repeat(1, 1fr);
            column-gap: 25px;
            
    }
    
    .match-details {
            margin-left: 0;
            margin-right: 0;
            height: 1800px;
    }
    .table-section .match-time-table {
            margin-left: 0;
            margin-right: 0;
            flex-direction: column;
            flex-wrap: wrap;
    }
    .score-table {
            margin-left: 0;
            margin-right: 0;
            margin-top: 80px;
    }
    .score-part {
            margin-left: 0;
            margin-right: 0;
            display: flex;
            justify-content: center;
    }
    iframe {
            width: 300px;
            height: 200px;
    }
    footer img {
            width: 100%;
    }
    th, td {
            padding: 0px;
            margin: 0px;
    }
}

/* ----------------------------------------------------------------
--------------------Media Query Style For Tab-------------------
------------------------------------------------------------------- */

@media only screen and (min-width: 688px) and (max-width: 992px) {
    body {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
    }
    .main-section {
            margin-left: 0;
            margin-right: 0;
            display: block;
            padding: 5%;
            flex-direction: column;
            height: 1000px;
    }
    .main-section h1 {
            font-size: 30px;
    }
    .banner-img img {
            width: 100%;
    }
    .products-section {
            margin-left: 0;
            margin-right: 0;
            display: grid;
            grid-template-columns: repeat(2, 0.7fr);
    }
    .match-details {
            height: 1300px;
    }
    .table-section .match-time-table {
            margin-left: 0;
            margin-right: 0;
            flex-direction: column;
            flex-wrap: wrap;
    }
    th, td {
            padding: 0px;
            margin: 0px;
    }
    .score-table {
            margin-left: 0;
            margin-right: 0;
            margin-top: 80px;
    }
    .score-part {
            margin-left: 0;
            margin-right: 0;
            display: flex;
            justify-content: center;
    }
}